body {
    background: linear-gradient(to right, rgb(61, 84, 247), rgb(144, 238, 144));
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 90px; /* Increased right and left padding */
}

nav {
    display: flex;
    justify-content: center;
}

#nav-container {
    display: inline-flex;
    font-family: "Arial Black", Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em; /* adjust as needed */
    padding: 5px 10px; /* adjust as needed */
}

nav a:hover {
    color: rgb(255, 165, 120);
    transform: scale(1.1); /* adjust as needed */
}

main {
    text-align: center;
}

#contact-button { /* Changed here */
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-family: "Arial Black", Arial, sans-serif;
}

h1 {
    font-family: "Arial Black", Arial, sans-serif;
}

h2 {
    font-family: "Arial Narrow", Arial, sans-serif;
}

h1, h2 {
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

#headshot {
    width: 200px; 
}

#product-description {
    max-width: 800px; /* You can adjust this as needed */
    margin: auto;
}

#product-description h3 {
    font-size: 36px; /* You can adjust this as needed */
}

#product-description ul {
    padding-left: 0;
    font-size: 18px;  /* You can adjust this value to whatever you find suitable */
}
