body {
    background: linear-gradient(to right, rgb(61, 84, 247), rgb(238, 144, 144));
    color: white;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 90px;
}

nav {
    display: flex;
    justify-content: center;
}

#nav-container {
    display: inline-flex;
    font-family: "Arial Black", Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
}

nav a:hover {
    color: rgb(255, 165, 120);
    transform: scale(1.1);
}

main {
    text-align: center;
    padding: 50px 0;
}

#glass-container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
    max-width: 800px;
    color: white;
    line-height: 1.6;
    font-size: 20px;
}

#glass-container h3 {
    font-size: 36px;
}

#glass-container a {
    color: white;
    transition: all 0.3s ease-in-out;
}

#glass-container a:hover {
    color: rgb(134, 120, 255);
    transform: scale(1.1);
    text-decoration: underline;
}

footer {
    color: white;
    text-align: center;
    padding: 50px 0;
}

footer img {
    width: 100px;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 5px 10px;
    }

    nav {
        flex-direction: column;
    }

    #nav-container {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    nav a {
        margin: 5px 0;
        font-size: 1em;
    }

    #glass-container {
        padding: 10px;
        max-width: 100%;
        font-size: 16px;
    }

    #glass-container h3 {
        font-size: 24px;
    }

    footer {
        padding: 20px 0;
    }

    footer img {
        width: 50px;
    }
}
/* This is a test */